<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-1">My Wishlist</h2>
        @if (wishlistItems && wishlistItems.length>0) {
          <p>There are {{wishlistItems.length}} products in this wishlist.</p>
        } @else {
          <p>There are No products in this wishlist.</p>
        }
      </div>
    </div>
    @if (wishlistItems && wishlistItems.length>0) {
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          @for (item of wishlistItems; track item) {
            <tr>
              <th scope="row"><mat-checkbox></mat-checkbox></th>
              <td>
                <img [src]="imageUrl+item.product.thumbnail?.imageUrl" alt="{{item.product.name}}" width="50">
                <div class="product-name">{{item.product.name}}</div>
                <!-- <div>{{item.product.}}</div> -->
              </td>
              <td>
                <div class="price">
                  <span class="current-price">{{ item.product.newPrice|currency:'INR' }}</span>
                  @if (item.product.originalPrice) {
                    <span class="old-price">{{ item.product.originalPrice|currency:'INR' }}</span>
                  }
                </div>
              </td>
              <td >
                @if (item.product.inStock) {
                  <span class="badge badge-success">In Stock</span>
                }
                @if (!item.product.inStock) {
                  <span class="badge badge-danger">Out of Stock</span>
                }
              </td>
              <td>
                @if (item.product.inStock) {
                  <button class="btn btn-sm btn-primary" (click)="addToCart(item.productId)">Add to
                  Cart</button>
                }
                @if (!item.product.inStock) {
                  <button class="btn btn-sm btn-danger" (click)="contactUs(item)">Contact
                  us</button>
                }
              </td>
              <td>
                <button mat-icon-button (click)="removeItem(item.productId)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

  </div>
</section>