<div class="home container">
  <section class="carousel mt-5">
    <owl-carousel-o [options]="bannerOptions">
      @for (slide of bannerStore; track slide) {
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.src" alt="first slide" class="banner-c-img" style="display: block; width: 100%;">
        </ng-template>
      }
    </owl-carousel-o>
  </section>
  <section class="categories mt-5">
    <div class="row">
      <div class="col-12 mb-2">
        <h1>Categories</h1>
      </div>
    </div>
    <div class="row">
      <owl-carousel-o [options]="customOptions">

        @for (slide of categories$|async; track slide) {
          <ng-template carouselSlide [id]="slide.id.toString()">
            <mat-card class="owl-c-card" appearance="outlined">
              <img mat-card-image class="own-c-img" [src]="serveApi + slide.image?.imageUrl" [alt]="slide.name">
              <mat-card-content class="text-center">
                <p>
                  {{slide.name}}
                </p>
              </mat-card-content>
            </mat-card>
          </ng-template>
        }

      </owl-carousel-o>
    </div>
  </section>
  <section class="popular-product mt-5">
    <div class="row">
      <div class="col-12 mb-2">
        <h1>Popular products</h1>
      </div>
    </div>
    <div class="row">
      <div class="product-grid-4 mb-5">
        @for (p of products$|async; track p) {
          <app-product-card [product]="p"></app-product-card>
        }
      </div>
    </div>
  </section>
</div>
