

  .products-found {
    font-size: 14px;
    font-weight: bold;
  }

  .view-toggle-group {
    margin-right: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .mat-button-toggle {
    border-radius: 5px;
    padding: 5px;
  }


  .mat-select-value {
    font-size: 14px;
  }