<div class="row align-items-center">
  <span class="products-found col-6">24 Products found</span>

  <div class="sort-dropdown col-6 row">
    <div class="col-6">
      <select [(ngModel)]="itemsToShow" (change)="itemsToShowChange()" class="form-select" aria-label="Default select example">
        @for (option of showOptions; track option) {
          <option [value]="option">
            {{ option }}
          </option>
        }
      </select>

      <!-- <mat-form-field appearance="outline" class="show-dropdown">
      <mat-label>Show</mat-label>
      <mat-select [(value)]="itemsToShow" (selectionChange)="itemsToShowChange($event)" >
        <mat-option *ngFor="let option of showOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <div class="col-6">
    <select [(ngModel)]="sortBy" (change)="sortByChange()" class="form-select" aria-label="Default select example">
      @for (option of sortOptions; track option) {
        <option [value]="option.sortCode">
          {{ option.sortName }}
        </option>
      }
    </select>


    <!-- <mat-form-field appearance="outline" class="sort-dropdown">
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="sortBy" (selectionChange)="sortByChange($event)">
      <mat-option *ngFor="let option of sortOptions" [value]="option.sortCode">{{ option.sortName }}</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
</div>
</div>
