<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <!-- col -->
      <div class="col-12">
        <div>
          <div class="mb-8">
            <h2 class="fw-bold mb-0">Checkout</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-7 col-lg-6 col-md-12">

        <div class="d-flex justify-content-between align-items-center mt-3">
          <!-- heading one -->
          <div  class="fs-5 text-inherit collapsed h4">
            <h3>Add delivery address</h3>
          </div>
          <!-- btn -->
          <div  class="btn btn-outline-primary btn-sm app-btn-primary" (click)="openModal(add_address_template)" >Add a new address</div>
        </div>
        <div class="mt-5">
          <div class="row">
            @for (address of addressService.address$|async; track address) {
              <div class="col-xl-6 col-lg-12 col-md-6 col-12 mb-4">
                <!-- input -->
                <div class="card card-body p-6">
                  <div class="form-check mb-1 d-flex justify-content-between">
                    <input class="form-check-input" type="radio" [value]="address" [(ngModel)]="shipToAddress" name="flexRadioDefault"  id="officeRadio">
                    <div class="col-1">
                      <mat-icon class="text-danger" matTooltip="Remove From Cart" (click)="removeAddress(address.id)">delete</mat-icon>
                    </div>
                  </div>
                  <address>
                    <strong>{{address.firstName+' '+address.lastName}}</strong>
                    <br>
                      {{address.addressLine1}},
                      <br>
                        {{address.addressLine2}}
                        <br>
                          <br>
                            {{address.city}},{{address.state}}
                            <br>
                              {{address.country}}
                              <br>
                                <abbr title="Phone">zipcode: {{address.postalCode}}</abbr>
                              </address>
                            </div>
                          </div>
                        }
                      </div>
                    </div>

                  </div>
                  <div class="col-md-12 offset-xl-1 col-xl-4 col-lg-6">
                    @if (cart$|async; as cart) {
                      <div class="mt-4 mt-lg-0">
                        <div class="card shadow-sm">
                          <h3 class="px-6 py-4 mx-3 bg-transparent mb-0">Order Details</h3>
                          <ul class="list-group list-group-flush">
                            @for (item of cart.shoppingCartItems; track item) {
                              <li class="list-group-item px-4 py-3">
                                <div class="row align-items-center">
                                  <div class="col-2 col-md-2">
                                    <img [src]="imageUrl+item.product.thumbnail?.imageUrl" [alt]="item.product.name" class="img-fluid">
                                  </div>
                                  <div class="col-5 col-md-5">
                                    <h5 class="mb-0">{{item.product.name}}</h5>
                                  </div>
                                  <div class="col-2 col-md-2 text-center text-muted">
                                    <span>{{item.quantity}}</span>
                                  </div>
                                  <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                                    <div class="price">
                                      <span  class="current-price">{{item.product.newPrice|currency:'INR'}}</span>
                                      <span class="old-price ng-star-inserted">{{item.product.originalPrice|currency:'INR'}}</span>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            }
                            <li class="list-group-item px-4 py-3">
                              <div class="d-flex align-items-center justify-content-between mb-2">
                                <div>Item Subtotal</div>
                                <div class="fw-bold">{{cart.totalPrice|currency:'INR'}}</div>
                              </div>
                              <div class="d-flex align-items-center justify-content-between">
                                <div>Total Discount</div>
                                <div class="fw-bold">{{cart.totalDiscount|currency:'INR'}}</div>
                              </div>
                            </li>
                            <!-- list group item -->
                            <li class="list-group-item px-4 py-3">
                              <div class="d-flex align-items-center justify-content-between fw-bold">
                                <div>Subtotal</div>
                                <div>{{cart.totalPriceAfterDiscount|currency:'INR'}}</div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="d-flex align-items-center justify-content-center">
                        <button
                          mat-raised-button class="app-btn-primary w-100"
                          (click)="MakePayment(cart.id)"
                        >Make Payment</button>
                      </div>
                    }

                  </div>
                </div>
              </div>
              <ng-template #add_address_template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Address</h4>
                  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-address-form></app-address-form>
                </div>
              </ng-template>
            </section>
